* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.column {
  padding: 0px 15px;
}
#top-bar {
  background: #253237;
}
.wrap-container {
  line-height: 45px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.wrap-container .top-bar-left span {
  color: #ffffff;
  font-size: 14px;
}
.wrap-container .top-bar-right {
  text-align: right;
}
.wrap-container .top-bar-right ul.menu {
  margin-bottom: 0px;
}
.wrap-container .top-bar-right ul.menu > li {
  display: inline-block;
}
.wrap-container .top-bar-right ul.menu > li:last-child a:after {
  margin-right: 0;
}
.wrap-container .top-bar-right ul.menu > li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 6px;
  line-height: 15px;
  font-size: 13px;
}
.wrap-container .top-bar-right ul.menu > li a i {
  margin-right: 6px;
}
.wrap-container .top-bar-right ul.menu > li .after-right:after {
  content: '\f107';
  font-family: 'FontAwesome';
  margin-left: 5px;
}
.wrap-container .top-bar-right ul.menu > li .before-left:before {
  content: '';
  background: #ffffff;
  width: 1px;
  height: 14px;
  display: inline-block;
  transform: translateY(3%);
  margin-right: 10px;
  margin-left: 10px;
}
.wrap-container .top-bar-right ul.menu li:last-child a {
  padding-right: 0;
}
/*hover-top-bar-right*/
.top-bar-right ul.menu li a {
  transition: color 0.5s;
}
.top-bar-right ul.menu li a:hover {
  color: #c0b07d;
}
.top-bar-right .menu > li {
  position: relative;
}
.top-bar-right .menu li > .sub-menu {
  visibility: hidden;
  position: absolute;
  padding: 0 15px;
  box-shadow: 0 0 3.76px 0.24px rgba(0, 0, 0, 0.15);
  z-index: 1;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  opacity: 0;
  min-width: 130px;
  text-align: left;
}
.top-bar-right .menu li:hover > .sub-menu {
  visibility: visible;
  transform: translateY(1px);
  opacity: 1;
}
.top-bar-right .menu li .sub-menu li.has-sub-menu a {
  color: #253237;
  white-space: nowrap;
  padding: 10px;
  line-height: 25px;
  display: inline-block;
  font-size: 13px;
}
/*header*/
.header-top {
  padding: 30px 0;
}
.logo img {
  display: block;
  max-width: 100%;
}
.search-box {
  padding-left: 60px;
  position: relative;
  display: flex;
}
.search-box input {
  width: 474px;
  height: 45px;
  border-radius: 21px 0px 0px 21px;
  border: 0;
  border: 2px solid #c0b07d;
  padding: 0px 20px;
}
.search-box select {
  position: absolute;
  border: 0;
  top: 9px;
  left: 397px;
  -moz-appearance: none;
  background: url(../images/image/icon-2/chimuc-2.png) no-repeat;
  background-position: 90% 60%;
  background-color: #ffffff;
  padding-right: 25px;
}
.search-box button {
  height: 45px;
  width: 64px;
  border: 0;
  background: #c0b07d;
  border-radius: 0px 25px 25px 0px;
}
.search-box button i {
  color: #ffffff;
}
.desktop-contact-link {
  display: flex;
  justify-content: flex-end;
}
.desktop-contact-link .contact-link {
  margin-right: 23px;
}
.desktop-contact-link .contact-link p {
  display: flex;
  text-transform: capitalize;
  margin-bottom: 0;
  position: relative;
}
.desktop-contact-link .contact-link p:before {
  content: ' ';
  background: url(../images/image/icon-2/chimuc-1.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3px;
  left: -41px;
}
.desktop-contact-link .contact-link a {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.5s;
}
.desktop-contact-link .contact-link a:hover {
  color: #c0b07d;
}
.desktop-contact-link .cart-price {
  margin-top: 6px;
}
.desktop-contact-link .cart-price a {
  color: #000000;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  transition: color 0.5s;
}
.desktop-contact-link .cart-price a:hover {
  color: #c0b07d;
}
.desktop-contact-link .cart-price a span:first-child:before {
  content: '\f290';
  font-family: 'FontAwesome';
  font-size: 20px;
  margin-right: 5px;
}
.desktop-contact-link .cart-price a span:first-child:after {
  content: ' 0';
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 19px;
  background-color: #c0b07d;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 18px;
  font-size: 13px;
  top: 13px;
  left: 7px;
}
/*header-bottom*/
.header-bottom {
  background: #c0b07d;
}
.categories {
  background: #ab9b69;
}
.categories button {
  background-color: #ab9b69;
  border: 0;
  line-height: 62px;
  padding: 0;
  text-align: left;
  border-radius: 0;
  width: 100%;
}
.categories button.btn-primary:hover {
  color: #ffffff;
  background-color: #ab9b69;
  border-color: initial;
}
.categories button.btn-primary.dropdown-toggle {
  background: #ab9b69;
}
.categories button.btn-primary.dropdown-toggle:focus {
  color: #fff;
  background-color: #ab9b69;
  border-color: initial;
  box-shadow: initial;
  outline: none;
}
.categories button.btn-primary.dropdown-toggle:active {
  background-color: #ab9b69;
  border-color: initial;
}
.categories button.btn-primary.dropdown-toggle:after {
  display: none;
}
.categories button a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  float: left;
}
.categories button a:before {
  content: '\f0c9';
  font-family: 'FontAwesome';
  font-size: 17px;
  color: #ffffff;
  margin-right: 16px;
  margin-left: 21px;
}
.categories button a:after {
  content: '\f107';
  font-family: "FontAwesome";
  margin-left: 47px;
}
.categories .dropdown {
  position: relative;
}
.categories .dropdown .dropdown-menu {
  transform: translate3d(0px, 46px, 0px);
  will-change: transform;
  position: absolute;
  padding: 0px 2px;
}
.categories .dropdown .dropdown-menu ul li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
.categories .dropdown .dropdown-menu ul li a.dropdown-item {
  padding: .25rem 1.5rem;
}
.categories .dropdown .dropdown-menu ul li a.dropdown-item:active {
  background-color: #ffffff;
}
.categories .dropdown .dropdown-menu ul li a.dropdown-item span {
  color: #253237;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  display: block;
  padding: 15px 30px 15px 0;
  transition: color 0.3s;
}
.categories .dropdown .dropdown-menu ul li a.dropdown-item span:hover {
  color: #c0b07d;
}
.categories .dropdown .dropdown-menu ul li .dropdown-item1 {
  position: relative;
}
.categories .dropdown .dropdown-menu ul li .dropdown-item1:after {
  content: '\f105';
  font-family: "FontAwesome";
  position: absolute;
  top: 18px;
  right: 23px;
  font-size: 14px;
}
.dropdown-menu .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: initial;
  border-color: initial;
}
.header-bottom .column-left {
  flex: 0 0 300px;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  transform: translate3d(0px, 60px, 0px) !important;
}
.dropdown-menu ul {
  margin-bottom: 0;
}
/*header-bottom-right*/
.header-bottom-right .nav li {
  line-height: 62px;
  padding: 18px 0;
}
.header-bottom-right .nav li a.nav-link {
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0;
  margin-left: 35px;
  line-height: 23px;
  font-size: 14px;
}
.header-bottom-right .nav li a.nav-link.stuff:hover {
  border-bottom: 2px solid #ffffff;
}
.header-bottom-right .nav li a.nav-link.disabled {
  pointer-events: initial;
  cursor: default;
}
.header-bottom-right .nav li.nav-item:first-child .nav-link {
  border-bottom: 2px solid #ffffff;
  margin-left: 0;
}
/*slider*/
#slider {
  position: relative;
  overflow-x: hidden;
  margin-bottom: 60px;
}
#slider img {
  width: 100%;
  display: block;
}
#demo .carousel-inner .carousel-item {
  position: relative;
  z-index: 1;
}
#demo .carousel-inner .carousel-item .slider-title {
  margin-left: 30px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1410px;
  transform: translate(-50%, -50%);
}
#demo .carousel-inner .carousel-item .slider-title h5 {
  font-style: italic;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}
#demo .carousel-inner .carousel-item .slider-title h2 {
  font-size: 45px;
  margin-top: -17px;
}
#demo .carousel-inner .carousel-item .slider-title button {
  width: 138px;
  height: 42px;
  border-radius: 20px;
  border: 0;
  background: #253237;
  margin-top: 32px;
  transition: background-color 0.5s;
}
#demo .carousel-inner .carousel-item .slider-title button:hover {
  background-color: #c0b07d;
}
#demo .carousel-inner .carousel-item .slider-title button a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}
.slider-circle {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  margin-left: 557px;
}
.slider-circle ul {
  list-style: none;
}
.slider-circle ul li {
  display: inline-block;
}
.slider-circle ul li a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c0b07d;
  margin-right: 4px;
}
.slider-circle ul li:last-child a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 4px;
}
#demo .carousel-indicators .active-1:first-child {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #c0b07d;
}
#demo .carousel-indicators .active-1:first-child:active {
  background-color: #c0b07d;
}
#demo .carousel-indicators .active-1:last-child {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background 0.2s;
}
#demo .carousel-indicators .active-1:last-child:active {
  background-color: #c0b07d;
}
#demo .carousel-indicators .active-1:last-child:hover {
  background-color: #c0b07d;
}
/*carousel-control-prev-icon*/
/*position-1*/
#banner {
  margin-bottom: 60px;
}
.banner-right .wrapper-banner-right-top {
  display: flex;
  justify-content: space-between;
}
/*hover-banner-left-1-banner-right-item-1*/
.banner-left-1 {
  overflow: hidden;
}
.banner-left-1 img {
  transition: transform 0.5s;
}
.banner-left-1 img:hover {
  transform: scale(1.035);
}
.banner {
  position: relative;
}
.banner a.wrap {
  overflow: hidden;
  display: block;
}
.banner a.wrap img {
  transition: transform 0.5s ;
  display: block;
}
.banner a.wrap img:hover {
  transform: scale(1.035);
}
.banner .wrap-link-item {
  position: absolute;
  bottom: 60px;
  left: 60px;
}
.banner .wrap-link-item h4 a {
  text-transform: capitalize;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
.banner .wrap-link-item > a {
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}
.banner .wrap-link-item > a:after {
  content: '\f0da';
  font-family: "FontAwesome";
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  background: #c0b07d;
  margin-left: 10px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  font-size: 8px;
  position: absolute;
  top: 5px;
}
.banner.banner-right-item-1 .wrap-link-item {
  bottom: 30px;
}
.below {
  margin-top: 30px;
}
/*position-1*/
#position-1 {
  margin-bottom: 30px;
}
.best-sellers-products .item .products .product {
  position: relative;
}
.best-sellers-products .item .products .product:hover {
  border-color: #c0b07d;
}
.best-sellers-products .item .products .product .image {
  position: relative;
}
.best-sellers-products .item .products .product .image:before {
  content: "New";
  padding: 4px;
  border-radius: 3px;
  background: #c0b07d;
  position: absolute;
  top: 10px;
  margin-left: 10px;
  min-width: 32px;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 0.7;
  text-align: center;
  font-weight: 700;
}
.best-sellers-products .item .products .product .image .square {
  transition: all 1s;
}
.best-sellers-products .item .products .product .image .square:hover {
  background: #c0b07d;
  color: #ffffff;
}
.best-sellers-products .item .products .product .image .square:hover i {
  color: #ffffff;
}
.best-sellers-products .item .products .product .image .square i {
  color: #000000;
}
/*hover-square*/
.product {
  position: relative;
}
.product .image .square {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffffff;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.product:hover .image .square {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.product .add-to-cart li button {
  border: 0;
  background: 0;
  transition: all 0.5s;
}
.product .add-to-cart li button a {
  color: #253237;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
}
.product .add-to-cart li button a:hover {
  color: #c0b07d;
  border-bottom: 2px solid #c0b07d;
}
.product .add-to-cart li {
  display: inline-block;
}
.product .add-to-cart li .wishlist {
  line-height: 1;
  padding-left: 0px;
  transition: all 0.5s;
  color: #000000;
}
.product .add-to-cart li .wishlist:hover {
  color: #c0b07d;
}
.product .add-to-cart li .wishlist:before {
  content: "\f074";
  font-family: "FontAwesome";
}
.product .add-to-cart li .compare {
  line-height: 1;
  transition: all 0.5s;
  display: inline-block;
  color: #000000;
}
.product .add-to-cart li .compare:hover {
  color: #c0b07d;
}
.product .add-to-cart li .compare:before {
  content: '\f004';
  font-family: 'FontAwesome';
}
/*hover-add-to-cart*/
.product {
  position: relative;
}
.product .information-product-one .add-to-cart {
  visibility: hidden;
  position: absolute;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 15px;
}
.product .information-product-one .add-to-cart li {
  margin-left: 5px;
}
.product .information-product-one .add-to-cart li:nth-child(2) {
  float: right;
}
.product .information-product-one .add-to-cart li:nth-child(3) {
  float: right;
}
.product:hover .information-product-one .add-to-cart {
  visibility: visible;
  transform: translateY(-25px);
}
.container-float {
  display: flex;
  justify-content: space-between;
  flex: 0 0 3px;
  position: relative;
}
.post-title h2 {
  text-transform: capitalize;
  font-weight: 500;
}
.post-title .desc-title {
  color: #88888b;
  margin-top: 15px;
}
.carousel-control-prev .carousel-control-prev-icon {
  margin-right: 92px;
}
.carousel-control-prev .carousel-control-prev-icon > i {
  width: 37px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #853d3d;
  line-height: 34px;
  font-size: 15px;
  color: #b89a93;
  text-align: center;
}
.carousel-control-next .carousel-control-next-icon > i {
  width: 37px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #853d3d;
  line-height: 34px;
  font-size: 15px;
  color: #b89a93;
  text-align: center;
}
/*product-cosmetic*/
ul li.product .information-product-two {
  padding: 20px 15px 25px 15px;
}
ul li.product .information-product-two span.category {
  padding: 0;
}
ul li.product .information-product-two span.category a {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}
ul li.product .information-product-two h3.title {
  font-weight: 600;
  padding: 0;
  margin-bottom: 0;
  line-height: 13px;
  font-size: 14px;
}
ul li.product .information-product-two h3.title a {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
  display: inline-block;
}
ul li.product .information-product-two .star-content {
  padding: 0;
}
ul li.product .information-product-two .star-content .star-on {
  display: inline-block;
  line-height: 1;
}
ul li.product .information-product-two .star-content .star-on:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #e8e41f;
}
ul li.product .information-product-two .star-content .star-on-on {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #f9eeee;
}
ul li.product .information-product-two .price {
  padding: 0;
  margin-bottom: 0;
  color: #5a5555;
  font-size: 15px;
}
ul li.product .information-product-two .price .price-1 {
  margin-right: 5px;
  color: #c3a79e;
  text-decoration: line-through;
  display: inline-block;
}
ul li.product .information-product-two .price .price-2 {
  color: #d02929;
  margin-right: 5px;
  margin-left: 5px;
}
ul li.product .information-product-two .price .price-22 {
  color: #000000;
}
ul li.product .information-product-two .price .price-3 {
  padding: 4px;
  background: #cf292b;
  border-radius: 3px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
/*banner-2*/
#banner-2 {
  margin-bottom: 60px;
}
/*.banner-2-1 {
	position: relative;
	.image {
		img {
			display: block;
			max-width: 100%;
		}
	}
	.title-box-one {
		a {
			margin-left: 30px;
			text-transform: capitalize;
			font-weight: 100;
			font-style: italic;
			color: #fffcff;
			font-size: 23px;
			position: absolute;
			position: absolute;
			top: 39px;
			font-weight: 400;
		}
	}
	.title-box-two {
		a {
			margin-left: 30px;
			font-size: 28px;
			font-weight: 600;
			text-transform: capitalize;
			color: #fffcff;
			position: absolute;
			top: 65px;
		}
	}
	button {
		border: 0;
		background: 0;
			a {
			display: inline-block;
			width: 61px;
			height: 30px;
			position: absolute;
			border-radius: 15px;
			border: 0;
			background: #fff;
			top: 132px;
			margin-left: 30px;
			text-transform: uppercase;
			font-weight: 800;
			color: @black;
			font-weight: 700;
			text-decoration: none;
			line-height: 30px;
			font-size: 13px;
			}
	}
	h5 {
		a {
			text-transform: uppercase;
			color: #fff;
			font-size: 20px;
			position: absolute;
			top: 169px;
			margin-left: 30px;
			font-weight: 100;
			display: inline-block;
			font-weight: 400;
		}
	}
	a.skin-care-ten {
		position: absolute;
		bottom: 40px;
		margin-left: 30px;
		text-transform: uppercase;
		color: #fffcff;
		font-weight: 800; 
		&:after {
			content: '\f0da';
			font-family: FontAwesome;
			width: 13px;
			height: 13px;
			display: inline-block;
			border-radius: 50%;
			background: #c0b07d;
			margin-left: 10px;
			line-height: 13px;
			text-align: center;
			color: #ffffff;
			font-size: 8px;
			position: absolute;
			top: 5px;
		}
	}
	.skin-care-eleven {
		position: absolute;
		bottom: 72px!important;
		left: 0px;
	}
}*/
/*hover-banner-2-1*/
.banner-2-3 {
  position: relative;
}
.banner-2-3 .image img {
  display: block;
  max-width: 100%;
}
.banner-2-3 .wrap-content-banner {
  position: absolute;
  top: 38px;
  left: 38px;
}
.banner-2-3 .wrap-content-banner .title-box-one a {
  text-transform: capitalize;
  font-weight: 100;
  font-style: italic;
  color: #fffcff;
  font-size: 23px;
  font-weight: 400;
}
.banner-2-3 .wrap-content-banner .title-box-two a {
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fffcff;
}
.banner-2-3 .wrap-content-banner button {
  border: 0;
  background: 0;
}
.banner-2-3 .wrap-content-banner button a {
  display: inline-block;
  width: 61px;
  height: 30px;
  border-radius: 15px;
  border: 0;
  background: #fff;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  line-height: 30px;
  font-size: 13px;
}
.banner-2-3 .wrap-content-banner h5 a {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  display: inline-block;
  font-weight: 400;
  margin-top: 12px;
}
.banner-2-3 .wrap-content-banner a.skin-care-ten {
  /*margin-top: 135px;*/
  display: inline-block;
  position: absolute;
  top: 214px;
}
.banner-2-3 .wrap-content-banner a.skin-care-ten.skin-care-eleven {
  /*margin-top: 60px;*/
}
.banner-2-3 .wrap-content-banner a.skin-care-ten span {
  text-transform: uppercase;
  color: #fffcff;
  font-weight: 800;
  position: relative;
}
.banner-2-3 .wrap-content-banner a.skin-care-ten span:after {
  content: '\f0da';
  font-family: FontAwesome;
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  background: #c0b07d;
  margin-left: 10px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  font-size: 8px;
  position: absolute;
  top: 5px;
}
.banner-2-3 .image {
  overflow: hidden;
}
.banner-2-3 .image img {
  transition: all 0.5s;
}
.banner-2-3 .image img:hover {
  transform: scale(1.035);
}
/*position-2*/
#position-2 {
  margin-bottom: 60px;
}
/*hover-product*/
.products-v1 .product {
  position: relative;
}
.products-v1 .product:hover .image .square {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.products-v1 .product .image .square {
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
}
.products-v1 .item .square {
  transition: all 900ms ease;
}
.products-v1 .item .square:hover {
  background: #c0b07d;
}
.products-v1 .item .square:hover i {
  color: #ffffff;
}
.products-v1:hover .information-product-one .add-to-cart {
  visibility: visible;
  opacity: 1;
  transform: translateY(5px);
}
.products-v1 .information-product-one .add-to-cart {
  visibility: hidden;
  position: absolute;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  width: 100%;
  bottom: 156px;
  left: 0;
  padding: 0 15px;
  opacity: 0;
}
.products-v1 .information-product-one .add-to-cart li {
  margin-left: 5px;
}
.products-v1 .information-product-one .add-to-cart li:nth-child(1) {
  float: left;
}
.products-v1 .information-product-one .add-to-cart li:nth-child(2) {
  float: right;
  margin-left: 14px;
}
.products-v1 .information-product-one .add-to-cart li:nth-child(3) {
  float: right;
}
.title-owl-left .title-best-sellers-one h2 {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
}
.title-owl-left .title-best-sellers-one .decs-title {
  color: #88888b;
  margin-top: 15px;
}
.product-cosmetic {
  position: relative;
}
.product-cosmetic .products-v1 {
  position: relative;
}
.product-cosmetic .products-v1 .item {
  border: 2px solid #c0b07d;
  border-radius: 4px;
  margin-top: 30px;
  overflow: hidden;
}
.owl-carousel .owl-nav {
  margin: 0;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 34px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  font-size: 10px;
  color: #b89a93;
  transition: all 0.5s;
  background: #ffffff;
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  color: #ffffff;
  background: #c0b07d;
}
.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
  font-size: 26px;
}
.products-v1 {
  text-align: center;
}
.products-v1 .category {
  text-transform: uppercase;
}
.products-v1 .category a {
  text-decoration: none;
  color: #999;
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 1;
  display: inline-block;
}
.products-v1 h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.products-v1 h3 a {
  color: #000000;
  text-decoration: none;
}
.products-v1 .star-content .star-on {
  display: inline-block;
}
.products-v1 .star-content .star-on:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #e8e41f;
}
.products-v1 .price {
  margin-top: 19px;
}
.products-v1 .price .price-111 {
  display: inline-block;
}
.products-v1 .price .price-1 {
  color: #a4a4a4;
  margin-left: 3px;
}
.products-v1 .price .price-2 {
  color: #cf2929;
  margin-left: 3px;
}
.products-v1 .price .price-3 {
  padding: 4px;
  background: #cf2929;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  line-height: 1;
  font-size: 13px;
  margin-left: 3px;
}
.products-v1 .availability {
  text-transform: capitalize;
  color: #777;
  text-align: center;
  font-size: 15px;
}
.products-v1 .availability span {
  font-weight: 600;
  color: #c0b07d;
  font-size: 15px;
}
.products-v1 .count-down {
  display: flex;
  justify-content: center;
  margin: 30px 0px 27px 0px;
}
.products-v1 .count-down .title-count-down {
  width: 116px;
  font-size: 14px;
  line-height: 18px;
  color: #777;
  padding-top: 5px;
}
.products-v1 .count-down .time-count-down > span {
  display: inline-block;
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.products-v1 .count-down .time-count-down > span:after {
  content: ':';
  top: 9px;
  right: -5px;
  position: absolute;
}
.products-v1 .count-down .time-count-down > span:last-child:after {
  content: ' ';
  display: none;
}
.products-v1 .count-down .time-count-down > span > .inside {
  display: block;
  width: 50px;
  color: #999999;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
}
.products-v1 .count-down .time-count-down span {
  display: inline-block;
}
.products-v1 .count-down .time-count-down span .inside {
  display: block;
  width: 50px;
}
.products-v1 .count-down .time-count-down span {
  display: inline-block;
}
.products-v1 .count-down .time-count-down span .inside {
  display: block;
  width: 50px;
}
.products-v1 .count-down .time-count-down span {
  display: inline-block;
}
.products-v1 .count-down .time-count-down span .inside {
  display: block;
  width: 50px;
}
.owl-theme .owl-nav .disabled {
  opacity: 1;
}
/*title-owl-right col-8*/
.products-v2 {
  /*	display: grid;
	grid-template-columns: repeat(4,1fr);*/
  margin-bottom: 0;
}
.products-v2 .item .products .product .image {
  position: relative;
}
.products-v2 .item .products .product .image:before {
  content: "New";
  padding: 4px;
  border-radius: 3px;
  background: #c0b07d;
  position: absolute;
  top: 10px;
  margin-left: 10px;
  min-width: 32px;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 0.7;
  text-align: center;
  font-weight: 700;
}
.products .product {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 30px;
}
.products .product .category {
  padding: 0px 20px;
}
.products .product .category a {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
.products .product .title {
  font-weight: 600;
  font-size: 20px;
  padding: 0px 20px;
}
.products .product .title a {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.products .product .star-content {
  padding: 0px 20px;
}
.products .product .star-content .star-on {
  margin-bottom: 10px;
  display: inline-block;
}
.products .product .star-content .star-on:before {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  color: #e8e41f;
}
.products .product .price {
  padding: 0px 20px;
  margin-bottom: 24px;
  color: #5a5555;
  font-size: 15px;
}
.products .product .price .price-1 {
  margin-right: 5px;
  color: #c3a79e;
  text-decoration: line-through;
  display: inline-block;
}
.products .product .price .price-2 {
  color: #d02929;
  margin-right: 5px;
  margin-left: 5px;
  display: inline-block;
}
.products .product .price .price-3 {
  padding: 4px;
  background: #cf292b;
  border-radius: 3px;
  line-height: .7;
  font-weight: 700;
  color: #fff;
  font-size: 13px;
  text-align: center;
  display: inline-block;
}
.title-best-sellers-two {
  position: relative;
}
.title-best-sellers-two .decs-title {
  color: #88888b;
}
/*position-3*/
#position-3 {
  margin-bottom: 60px;
}
.stactic .stactic-wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  overflow: hidden;
  padding: 20px 20px 20px 20px;
}
.stactic .stactic-1 {
  display: flex;
  width: 25%;
}
.stactic .stactic-1 div h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.stactic .stactic-1 .image img {
  margin: 12px 10px 0px 0px;
}
/*position-4*/
#position-4 {
  margin-bottom: 60px;
}
.owl-carousel .owl-nav.disabled {
  display: unset;
}
.list .product {
  display: flex;
  padding: 20px;
}
.list .product .image {
  width: 120px;
}
.list .information-product-one {
  padding: 10px 0 0 0;
}
.list .information-product-one span.category {
  padding: 0;
}
.list .information-product-one span.category a {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  line-height: 1;
  margin-bottom: 10px;
}
.list .information-product-one h3 {
  font-size: 0;
  line-height: 1;
  padding: 0;
}
.list .information-product-one h3 a {
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: #253237;
  font-weight: 600;
}
.list .information-product-one .star-content {
  line-height: 1;
  padding: 0;
}
.list .information-product-one .star-content .star-on-off:before {
  color: #ebebeb;
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
}
.list .information-product-one .price {
  padding: 0;
  margin: 0;
}
.list .information-product-one .price .price-1 {
  font-weight: 400;
}
.list .information-product-one .price .price-2 {
  font-weight: 400;
}
.list .information-product-one .price .price-3 {
  font-weight: 400;
}
/*position-5*/
#position-5 {
  margin-bottom: 60px;
}
.products-v4 {
  margin-top: 30px;
}
.products-v4 .item {
  background: #f7f7f7;
  padding: 30px;
}
.products-v4 .item .meta-category a {
  color: #ffffff;
  width: 100px;
  line-height: 30px;
  text-transform: uppercase;
  border: 0;
  background: #253237;
  border-radius: 20px;
  margin-bottom: 26px;
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
}
.products-v4 .item .meta-category a:hover {
  background-color: #c0b07d;
}
.products-v4 .item h4 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.products-v4 .item h4 a {
  color: #000000;
  font-size: 16px;
  line-height: 1;
  transition: all 0.5s;
}
.products-v4 .item h4 a:hover {
  color: #c0b07d;
}
.products-v4 .item p {
  font-size: 14px;
  margin-bottom: 0;
}
.products-v4 .item button {
  border: 0;
  background: 0;
  line-height: 18px;
  margin-top: 30px;
}
.products-v4 .item button a {
  color: #000000;
}
.products-v4 .item button a:after {
  content: '\f138';
  font-family: 'FontAwesome';
  display: inline-block;
  color: #c0b07d;
  margin-left: 5px;
}
/*hover-position-5*/
/*desktop-position-5*/
.product-cosmetic .products-v4:not(.products-v6) > .owl-nav {
  position: absolute;
  top: -60px;
}
.products-v4 .wrapper-item {
  position: relative;
}
.products-v4 .wrapper-item .item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.8s;
}
.products-v4 .wrapper-item:hover .item {
  background-color: rgba(37, 50, 55, 0.8);
}
/*position-5*/
/*position-1,position-2,position-3,position-4,position-5 general*/
.owl-carousel:not(.products-v6) .owl-nav {
  position: absolute;
  top: -40px;
  right: 0px;
}
/*position-6*/
#position-6 {
  margin-bottom: 60px;
}
.products-v6 {
  margin-bottom: 0;
  border: 1px solid #ebebeb;
  padding: 20px 40px;
  border-radius: 5px;
}
.products-v6 .owl-item img {
  max-width: 100%;
  width: auto;
  margin: auto;
}
.products-v6 .owl-nav button.owl-prev,
.products-v6 .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  opacity: 0;
  visibility: hidden;
}
.products-v6 .owl-nav button.owl-prev:hover,
.products-v6 .owl-nav button.owl-next:hover {
  background: #c0b07d;
  color: #ffffff;
}
.products-v6 .owl-nav button.owl-prev {
  left: 15px;
}
.products-v6 .owl-nav button.owl-next {
  right: 15px;
}
.products-v6:hover .owl-nav button.owl-prev,
.products-v6:hover .owl-nav button.owl-next {
  opacity: 1;
  visibility: visible;
}
/*footer*/
#footer {
  background: #efefef;
  overflow: hidden;
  position: relative;
}
#footer .container .row {
  padding-top: 60px;
}
.col-xl-bg:before {
  content: "";
  position: absolute;
  left: -9999em;
  top: -9999em;
  bottom: -9999em;
  right: 15px;
  background: #f6f6f6;
  z-index: 0;
  pointer-events: none;
}
.column-1 {
  position: relative;
  z-index: 1;
}
.column-1 .logo {
  margin-bottom: 35px;
}
.column-1 .text-footer {
  line-height: 24px;
  color: #666f85;
  margin-bottom: 0;
}
.column-1 .need-help {
  margin-top: 30px;
}
.column-1 .need-help:before {
  content: ' ';
  padding: 20px;
  background-image: url(../images/image/icon-3/icon-4.png);
  background-repeat: no-repeat;
  background-position: top left;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 18px;
}
.column-1 .need-help p:first-child {
  text-transform: uppercase;
  color: #66666a;
  font-size: 16px;
  margin-bottom: 5px;
}
.column-1 .need-help p:last-child {
  font-size: 22px;
  font-weight: 600;
  color: #253237;
  margin-bottom: 0;
}
.column-1 .icon-footer {
  margin-top: 30px;
}
.column-1 .icon-footer ul {
  margin-bottom: 0;
}
.column-1 .icon-footer ul li.facebook:before {
  content: '\f082';
  font-family: 'FontAwesome';
  margin-right: 20px;
  color: #666666;
}
.column-1 .icon-footer ul li.twitter:before {
  content: '\f099';
  font-family: 'FontAwesome';
  margin-right: 20px;
  color: #666666;
}
.column-1 .icon-footer ul li.youtube:before {
  content: '\f1a0';
  font-family: 'FontAwesome';
  margin-right: 20px;
  color: #666666;
}
.column-1 .icon-footer ul li.googleplus:before {
  content: '\f2d8';
  font-family: 'FontAwesome';
  margin-right: 20px;
  color: #666666;
}
.column-1 .icon-footer ul li.instagram:before {
  content: '\f213';
  font-family: 'FontAwesome';
  margin-right: 20px;
  color: #666666;
}
.column-1 .icon-footer ul li {
  display: inline-block;
  font-size: 22px;
}
/*col-8*/
.column-2 h3 {
  font-size: 16px;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 25px;
  position: relative;
  color: #253237;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 700;
}
.column-2 h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  background: #c0b07d;
}
.column-2 ul li {
  margin-bottom: 10px;
}
.column-2 ul li a {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  text-transform: capitalize;
  color: #666;
  margin-bottom: 0;
  display: block;
}
.column-footer-1 {
  width: 25%;
}
.column-footer-2 {
  width: 25%;
}
.column-footer-3 {
  width: 50%;
}
.column-footer-3 p {
  margin-bottom: 16px;
  color: #666;
}
.column-footer-3 form {
  display: flex;
  margin-bottom: 35px;
}
.column-footer-3 form input {
  width: 361px;
  line-height: 46px;
  border-radius: 30px 0px 0px 30px;
  border: 0;
  color: #9e8074;
  padding: 0px 20px;
  font-size: 15px;
}
.column-footer-3 form button {
  text-transform: capitalize;
  line-height: 46px;
  border: 0px;
  background: #1c2629;
  border-radius: 0px 20px 20px 0px;
  color: #ffffff;
  padding: 0px 10px;
  white-space: nowrap;
}
.column-footer-3 .img-app a {
  margin-right: 15px;
}
.col-bg:before {
  content: "";
  position: absolute;
  left: -9999em;
  top: -9999em;
  bottom: -9999em;
  right: 0;
  background: #f6f6f6;
  z-index: 0;
  pointer-events: none;
}
.footer-bottom .container .row {
  padding-bottom: 60px;
}
.copyright {
  color: #666;
  z-index: 1;
  position: relative;
}
.copyright a {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px!important;
  }
}
/*Responsive*/
@media screen and (max-width: 1200px) {
  /*header-bottom*/
  .slider-title {
    max-width: 100%;
  }
  /*banner*/
  .banner-left-1 a img {
    max-width: 100%;
  }
  .banner-left-1 .wrap-link-item h4 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .banner-left-1 .wrap-link-item > a {
    font-size: 11px;
    font-weight: 600;
    position: relative;
  }
  .banner-left-1 .wrap-link-item > a:after {
    position: absolute;
    top: 1px;
    right: -16px;
  }
  .banner-right-item-1 a img {
    max-width: 100%;
  }
  .banner-right-item-1 .wrap-link-item h4 {
    font-size: 20px;
    margin-bottom: 0;
  }
  .banner-right-item-1 .wrap-link-item > a {
    font-size: 11px;
    font-weight: 600;
    position: relative;
  }
  .banner-right-item-1 .wrap-link-item > a:after {
    position: absolute;
    top: 1px;
    right: -16px;
  }
  /*banner-2*/
  .banner-2-3 {
    position: relative;
  }
  .banner-2-3 .wrap-content-banner {
    position: absolute;
    top: 12px;
    left: 30px;
  }
  .banner-2-3 .wrap-content-banner .title-box-one {
    font-size: 17px;
  }
  .banner-2-3 .wrap-content-banner .title-box-two a {
    font-size: 21px;
  }
  .banner-2-3 .wrap-content-banner h5 a {
    font-size: 11px;
  }
  .banner-2-3 .wrap-content-banner a.skin-care-ten {
    display: inline-block;
    position: absolute;
    top: 200px;
    font-size: 11px;
  }
  .banner-2-3 .wrap-content-banner a.skin-care-ten span {
    position: relative;
  }
  .banner-2-3 .wrap-content-banner a.skin-care-ten span:after {
    font-size: 8px;
    position: absolute;
    top: 2px;
    margin-left: 5px;
  }
  /*position-2*/
  .title-owl-left .title-best-sellers-one > h2 {
    font-size: 20px;
  }
  .title-owl-left .title-best-sellers-one .decs-title {
    font-size: 14px;
  }
  .title-owl-right .title-best-sellers-two > h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .title-owl-right .title-best-sellers-two .decs-title {
    font-size: 14px;
  }
  .title-owl-right .title-best-sellers-two .product-cosmetic .products-v2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(50px);
  }
  /*position-5*/
  .title-best-sellers-two h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .title-best-sellers-two .decs-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .search-box select {
    left: 316px;
    position: absolute;
  }
  /*banner-2*/
  .banner-2-1 {
    position: relative;
  }
  .banner-2-1 button a {
    position: absolute;
    top: 95px;
    left: 0;
  }
  .banner-2-1 h5 a {
    position: absolute;
    top: 126px;
    left: 0px;
  }
  .banner-2-1 .skin-care-ten {
    position: absolute;
    top: 160px;
    left: 0px;
  }
  /*footer*/
  .column-2 .img-app {
    white-space: nowrap;
  }
  .column-2 .img-app a:nth-child(1) {
    margin-bottom: 15px;
    display: inline-block;
  }
  .column-2 .img-app a:nth-child(1) img {
    width: 150px;
  }
  .column-2 .img-app a:nth-child(2) img {
    width: 150px;
  }
}
@media screen and (max-width: 992px) {
  /*header*/
  .search-box select {
    position: absolute;
    border: 0;
    top: 9px;
    left: 318px;
  }
  /*header-bottom*/
  .dropdown .dropdown-toggle a:after {
    content: '\f107';
    font-family: "FontAwesome";
  }
  /*banner-2-3*/
  .banner-2-3 {
    position: relative;
  }
  .banner-2-3 .wrap-content-banner {
    position: absolute;
    top: 6px;
    left: 30px;
  }
  .banner-2-3 .wrap-content-banner .title-box-one a {
    font-size: 15px;
  }
  .banner-2-3 .wrap-content-banner .title-box-two a {
    font-size: 19px;
  }
  .banner-2-3 .wrap-content-banner h5 a {
    font-size: 17px;
    margin-top: 6px;
  }
  .banner-2-3 .wrap-content-banner > .skin-care-ten {
    position: absolute;
    top: 148px!important;
    left: 0px;
    font-size: 13px;
  }
  /*position-2*/
  .product-cosmetic .products-v1 .owl-nav {
    position: absolute;
    top: -67px;
    right: 0px;
    margin: 0;
  }
  .product-cosmetic .products-v1 .count-down {
    display: inherit;
  }
  .product-cosmetic .products-v1 .count-down .title-count-down {
    display: inline-block;
  }
  .product-cosmetic .products-v1 .information-product-one .add-to-cart {
    visibility: hidden;
    transform: translateY(0px);
  }
  .product-cosmetic .products-v1:hover .information-product-one .add-to-cart {
    visibility: visible;
    transform: translateY(-38px);
  }
  /*footer*/
  .column-1 > .need-help {
    font-size: 15px;
  }
  .column-1 > .need-help > p:nth-child(2) {
    font-size: 16px;
  }
  .input-button form input {
    height: 42px;
  }
  .input-button form button {
    line-height: 21px;
  }
  .img-app a:first-child {
    margin-bottom: 15px;
    display: inline-block;
  }
  .img-app a img {
    width: 135px;
  }
  /*footer-bottom*/
  .copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  /*top-bar*/
  .wrap-container .top-bar-right {
    text-align: center;
  }
  .header-top .logo {
    text-align: center;
  }
  .header-top .logo > img {
    display: inline-block;
  }
  .header-top .search-box {
    margin-top: 30px;
  }
  .header-top .desktop-contact-link {
    margin-top: 30px;
  }
  /*header-bottom*/
  .header-bottom .column-left {
    flex: none;
  }
  .header-bottom .column-left .categories {
    text-align: center;
  }
  .header-bottom .column-left .categories .dropdown {
    display: inline-block;
  }
  .column-right {
    text-align: center;
  }
  .column-right .header-bottom-right {
    display: inline-block;
  }
  /*banner-2*/
  .banner-2-3 {
    position: relative;
  }
  .banner-2-3 .wrap-content-banner .title-box-one {
    font-size: 0;
  }
  .banner-2-3 .wrap-content-banner .title-box-one a {
    font-size: 12px;
  }
  .banner-2-3 .wrap-content-banner .title-box-two {
    font-size: 0;
  }
  .banner-2-3 .wrap-content-banner .title-box-two a {
    font-size: 14px;
  }
  .banner-2-3 .wrap-content-banner button a {
    font-size: 11px;
    line-height: 23px;
    width: 51px;
    height: 23px;
  }
  .banner-2-3 .wrap-content-banner h5 {
    font-size: 0;
  }
  .banner-2-3 .wrap-content-banner h5 a {
    font-size: 9px;
  }
  .banner-2-3 .wrap-content-banner .skin-care-ten {
    position: absolute;
    top: 102px !important;
    white-space: nowrap;
  }
  .banner-2-3 .wrap-content-banner .skin-care-ten span {
    font-size: 9px;
  }
  .banner-2-3 .wrap-content-banner .skin-care-ten span:after {
    width: 10px !important;
    line-height: 10px !important;
    height: 10px !important;
  }
  /*position-3*/
  .stactic .stactic-wrap {
    display: block;
  }
  .stactic .stactic-wrap .stactic-1 {
    width: 50%;
    float: left;
  }
  /*footer*/
}
@media screen and (max-width: 576px) {
  /* top-bar */
  .top-bar-right .menu li > a {
    font-size: 11px!important;
  }
  /*header */
  .header-top .search-box input {
    font-size: 13px;
  }
  .header-top .search-box select {
    top: 13px;
    font-size: 11px;
    left: 270px;
  }
  /*slider*/
  .carousel-item .slider-title h5 {
    font-size: 12px!important;
  }
  .carousel-item .slider-title h2 {
    font-size: 23px!important;
  }
  .carousel-item .slider-title button {
    width: 91px !important;
    height: 30px!important;
    line-height: 15px!important;
  }
  .carousel-item .slider-title button a {
    font-size: 11px!important;
  }
  /*position-3*/
  .stactic .stactic-wrap {
    display: block;
  }
  .stactic .stactic-wrap .stactic-1 {
    width: 50%;
    float: left;
  }
  /*position-5*/
  .title-best-sellers-two .decs-title {
    font-size: 12px;
  }
}
@media screen and (max-width: 375px) {
  .header-top {
    padding: 17px 0;
  }
  .header-top .search-box {
    padding-left: 0;
  }
  .header-top .search-box select {
    padding-right: 17px;
    top: 14px;
    font-size: 11px;
    left: 156px;
  }
  .header-top .search-box input {
    font-size: 16px;
    padding: 0px 20px;
  }
  .header-top .search-box button {
    width: unset;
    padding: 10px;
  }
  /*header-bottom*/
  .header-bottom .categories .dropdown button a {
    font-size: 14px;
  }
  .header-bottom .column-right .header-bottom-right ul li a {
    font-size: 12px;
    margin-left: 10px;
  }
  /*slider*/
  #slider {
    margin: 30px 0 30px 0;
  }
  .carousel-inner .carousel-item .slider-title h5 {
    font-size: 11px;
  }
  .carousel-inner .carousel-item .slider-title h2 {
    font-size: 17px;
  }
  .carousel-inner .carousel-item .slider-title button {
    margin-top: 0!important;
  }
  /*banner*/
  #banner {
    margin-bottom: 20px;
  }
  .banner-left > .below {
    margin-top: 30px;
  }
  .banner-right .below {
    margin-bottom: 0;
  }
  .banner-right .wrapper-banner-right-top .banner-right-item-1 {
    margin-top: 30px;
  }
  .banner-right .wrapper-banner-right-top .banner-right-item-1 a img {
    width: 100%;
  }
  /*position-1*/
  .owl-carousel:not(.products-v6) .owl-nav {
    top: -67px;
    right: 0px;
  }
  /*banner-2*/
  #banner-2 {
    margin-bottom: 30px;
  }
  .banner-2-3-double {
    margin-bottom: 0!important;
  }
  .banner-2-3 {
    margin-bottom: 30px;
  }
  .banner-2-3 .wrap-content-banner-double {
    top: 19px!important;
  }
  .banner-2-3 .image img {
    width: 100%;
  }
  .banner-2-3 .wrap-content-banner {
    top: 101px;
  }
  /*position-3*/
  #position-3 {
    margin-bottom: 30px;
  }
  .stactic .stactic-1 {
    display: block;
  }
  .stactic .stactic-1 .image {
    text-align: center;
    margin-bottom: 15px;
  }
  .stactic .stactic-1 div p {
    margin-bottom: 0;
  }
  /*position-4*/
  #position-4 {
    margin-bottom: 30px;
  }
  /*position-5*/
  #position-5 {
    margin-bottom: 30px;
  }
  #position-5 .product-cosmetic .owl-theme-double .owl-nav {
    top: -110px;
  }
  .products-v4 .item .meta-category a {
    margin-bottom: 0;
    font-size: 11px;
    padding: 0px 11px;
    line-height: 24px;
  }
  .products-v4 .item h4 a {
    font-size: 14px;
  }
  .products-v4 .item p {
    font-size: 13px;
  }
  .products-v4 .item button {
    margin-top: 20px;
  }
  .products-v4 .item button a {
    font-size: 14px;
  }
  /*position-6*/
  #position-6 {
    margin-bottom: 30px;
  }
  /*footer*/
  #footer .column-footer-3 {
    margin-top: 20px;
  }
  .footer-bottom .col-xl-bg {
    margin-bottom: 20px;
  }
}
